main{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(310deg, rgba(68, 162, 69,0.7) 0%, rgba(255, 255, 255, 0.403) 100%);
    height: auto;
    z-index: -1;
}

.main-body{
    position: relative;
    left:5%;
    width:90%;
    backdrop-filter: blur(40px);
}
